argcomplete==3.6.2
asgiref==3.9.1
charset-normalizer==3.4.3
colorama==0.4.6
commitizen==4.8.3
decli==0.6.3
Django==4.2.23
importlib_metadata==8.7.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
pillow==11.3.0
prompt_toolkit==3.0.51
PyYAML==6.0.2
questionary==2.1.0
reportlab==4.0.7
sqlparse==0.5.3
termcolor==3.1.0
tomlkit==0.13.3
tzdata==2025.2
wcwidth==0.2.13
zipp==3.23.0
