{% extends 'base.html' %}
{% block content %}
<h2>{{ t.ADDRESS_LIST_TITLE }}</h2>
<ul>
    {% for address in addresses %}
    <li>
        {{ address.street }}, {{ address.city }}, {{ address.state_or_province }}, {{ address.postal_code }}
        <a href="{% url 'edit_shipping_address' address.id %}">{{ t.ADDRESS_EDIT }}</a>
        <a href="{% url 'delete_shipping_address' address.id %}">{{ t.ADDRESS_DELETE }}</a>
    </li>
    {% empty %}
    <li>{{ t.ADDRESS_NO_ADDRESSES }}</li>
    {% endfor %}
</ul>
<a href="{% url 'add_shipping_address' %}">{{ t.ADDRESS_ADD_NEW }}</a>
{% endblock %}
