@import "tailwindcss";


/* Importa tus otros CSS personalizados */
@import "./home.css";
@import "./auth.css";
@import "./profile.css";
@import "./cart.css";
@import "./wishlist.css";
@import "./checkout.css";
@import "./collections.css";
@import "./product-detail.css";
@import "./shop.css";